{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero">
    <h1 class="title">Would you hold my hand and let me<br>twirl you under the stars? </h1>
    <a href="/letter" class="button">Start the dance</a>
</div>
<div class="hearts-container">
    <div class="floating-heart"></div>
    <div class="floating-heart"></div>
    <div class="floating-heart"></div>
</div>
<!-- <div class="portrait-container">
    <img src="static/images/photo1.jpeg" alt="Portrait" class="portrait-image">
</div>
<div class="portrait-container_2">
    <video class="portrait-video" autoplay muted loop>
        <source src="static/videos/video1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="square-container">
    <img src="static/images/photo2.jpeg" alt="Your Image" class="square-image">
</div>
<div class="landscape-container">
    <img src="{{ url_for('static', filename='images/photo4.jpeg') }}" 
         alt="Special Memory" class="landscape-photo">
</div>
<div class="portrait-container_3">
    <img src="static/images/photo3.jpeg" alt="Portrait" class="portrait-image">
</div> -->
{% endblock %}